# Base de dades
DATABASE_URL="postgresql://user:password@localhost:5432/auratech?schema=public"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="genera-un-secret-aleatori-aqui"

# Email (Resend)
RESEND_API_KEY="re_xxxxxxxxxxxx"
RESEND_FROM="Auratech <noreply@auratech.cat>"
# Comma-separated list supported. Primary recipient (To)
CONTACT_NOTIFY_EMAIL="oscar.rovira@auratech.cat"
# Optional CC list (comma-separated)
CONTACT_NOTIFY_CC=""

# App
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NEXT_PUBLIC_APP_NAME="Auratech"
